/.venv
*/node_modules
settings.json
/__pycache__/*
backend/ApiScripts/GeminiEndpoint/__pycache__/*
backend/ApiScripts/__pycache__/*
backend/__pycache__/*
*/.vite/*
.gitignore
*.env
*keys.env
*/__pycache__/**
keys.env
keys.py
backend/tests/__pycache__/test_prompt_api.cpython-313.pyc
